<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="dt.trace_id">
            <!-- dt.trace_id default. Leave empty to only add the dt.trace_id property to the json if it exists. -->
        </Property>
        <Property name="dt.span_id">
            <!-- dt.span_id default. Leave empty to only add the dt.span_id property to the json if it exists. -->
        </Property>
        <Property name="dt.entity.process_group_instance">
            <!-- dt.entity.process_group_instance default. Leave empty to only add the dt.entity.process_group_instance property to the json if it exists. -->
        </Property>
        <Property name="dt.entity.host">
            <!-- dt.entity.host default. Leave empty to only add the dt.entity.host property to the json if it exists. -->
        </Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <JsonLayout>
                <!-- It's also possible to specify key value pairs explicitly. They will be added to the JSON object (at the top level). -->
                <KeyValuePair key="dt.trace_id" value="$${ctx:dt.trace_id}"/>
                <KeyValuePair key="dt.span_id" value="$${ctx:dt.span_id}"/>
                <KeyValuePair key="dt.entity.process_group_instance" value="$${ctx:dt.entity.process_group_instance}"/>
                <KeyValuePair key="dt.entity.host" value="$${ctx:dt.entity.host}"/>
            </JsonLayout>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console" level="All"/>
        </Root>
    </Loggers>
</Configuration>